# Petters lengste meldinger #

En slags skrivestue.

Dette er et sted å skrive tanker som krever mer enn 140 tegn. 

## About Petter ##
father, husband, geek, all round good guy. Writer of code and builder of good things. Works at Bouvet.

contact me at <a href="http://twitter.com/phareim">twitter</a>.

