<header> 
    <h1>Petters lengste meldinger</h1>
    <h2>En slags skrivestue</h2>
</header>

Dette er et sted å skrive tanker som krever mer enn 140 tegn. 

Far, ektemann, geek og fin fyr. <em>Writer of code and builder of good things.</em> Jobber i Bouvet.

Ta gjerne kontakt på <a href="http://twitter.com/phareim">twitter</a>.

